body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../网上预售_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1096px;
    height:35px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1102px;
    height:41px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1092px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:13px;
    top:10px;
    width:581px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../网上预售_1_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:41px;
    width:191px;
    height:749px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:755px;
}

.u4 {
    position:absolute;
    left:2px;
    top:366px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:42px;
    width:191px;
    height:26px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u6 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:39px;
    top:45px;
    width:106px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:68px;
    width:191px;
    height:26px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:39px;
    top:71px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:120px;
    width:191px;
    height:26px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u12 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:172px;
    width:191px;
    height:26px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u14 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:39px;
    top:175px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:198px;
    width:191px;
    height:26px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:39px;
    top:201px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:224px;
    width:191px;
    height:26px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:39px;
    top:227px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:250px;
    width:191px;
    height:26px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:39px;
    top:253px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:94px;
    width:191px;
    height:26px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u26 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:39px;
    top:97px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:41px;
    top:125px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:146px;
    width:191px;
    height:26px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:39px;
    top:149px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:614px;
    width:191px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:39px;
    top:618px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:666px;
    width:191px;
    height:26px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:640px;
    width:191px;
    height:26px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:39px;
    top:670px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:39px;
    top:644px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:276px;
    width:191px;
    height:26px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u42 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:39px;
    top:279px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:302px;
    width:191px;
    height:26px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:39px;
    top:305px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:328px;
    width:191px;
    height:26px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u48 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:39px;
    top:331px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:354px;
    width:191px;
    height:26px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u51 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:39px;
    top:357px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:380px;
    width:191px;
    height:26px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:39px;
    top:383px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:406px;
    width:191px;
    height:26px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u57 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:39px;
    top:409px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:432px;
    width:191px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:39px;
    top:435px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:458px;
    width:191px;
    height:26px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u63 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:39px;
    top:461px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:484px;
    width:191px;
    height:26px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:39px;
    top:487px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:510px;
    width:191px;
    height:26px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u69 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:39px;
    top:513px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:536px;
    width:191px;
    height:26px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:39px;
    top:539px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:562px;
    width:191px;
    height:26px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:39px;
    top:565px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:588px;
    width:191px;
    height:26px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:39px;
    top:591px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

