* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="门票销售新模板_files/u38_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="门票销售新模板_files/u40_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="窗口现金转移_files/u20_normal.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="窗口现金转移_files/u25_line.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="窗口现金转移_files/u33_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="窗口现金转移_files/u40_normal.png");
}

* html .u46_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="窗口现金转移_files/u46_line.png");
}

