body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:205px;
    top:153px;
    width:259px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:304px;
    top:150px;
    width:119px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:205px;
    top:191px;
    width:259px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:304px;
    top:188px;
    width:119px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:205px;
    top:229px;
    width:334px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:333px;
    top:226px;
    width:154px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:205px;
    top:267px;
    width:315px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:325px;
    top:264px;
    width:139px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:325px;
    top:340px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:205px;
    top:302px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:325px;
    top:302px;
    width:119px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../门票销售新模板_files/u38_normal.png');
}

.u11_container {
    position:absolute;
    left:933px;
    top:48px;
    width:69px;
    height:39px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:45px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:65px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../门票销售新模板_files/u40_normal.png');
}

.u13_container {
    position:absolute;
    left:850px;
    top:48px;
    width:73px;
    height:39px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:45px;
}

.u14 {
    position:absolute;
    left:2px;
    top:9px;
    width:69px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:21px;
    top:18px;
    width:981px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:175px;
    top:121px;
    width:396px;
    height:277px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:396px;
    height:277px;
    
}

.u20_normal {
    background-image: url('../窗口现金转移_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:7px;
    top:6px;
    width:381px;
    height:265px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:387px;
    height:271px;
}

.u21 {
    position:absolute;
    left:2px;
    top:124px;
    width:377px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:106px;
    top:18px;
    width:151px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:95px;
    top:56px;
    width:205px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:34px;
    top:135px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../窗口现金转移_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:339px;
    height:3px;
}

.u25 {
    position:absolute;
    left:17px;
    top:119px;
    width:339px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:34px;
    top:170px;
    width:62px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:86px;
    top:167px;
    width:122px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:34px;
    top:205px;
    width:62px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:86px;
    top:202px;
    width:122px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:167px;
    top:137px;
    width:205px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:86px;
    top:237px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:398px;
    height:279px;
    overflow:hidden;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:398px;
    height:279px;
    
}

.u33_normal {
    background-image: url('../窗口现金转移_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:395px;
    height:275px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:401px;
    height:281px;
}

.u34 {
    position:absolute;
    left:2px;
    top:130px;
    width:391px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:94px;
    top:26px;
    width:204px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:137px;
    top:144px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:69px;
    top:62px;
    width:216px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:181px;
    top:243px;
    width:62px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:7px;
    top:0px;
    width:391px;
    height:279px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:391px;
    height:279px;
    
}

.u40_normal {
    background-image: url('../窗口现金转移_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:389px;
    height:276px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:395px;
    height:282px;
}

.u41 {
    position:absolute;
    left:2px;
    top:130px;
    width:385px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:102px;
    top:26px;
    width:145px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:102px;
    top:181px;
    width:88px;
    height:26px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:94px;
    top:69px;
    width:237px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:23px;
    top:63px;
    width:815px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../窗口现金转移_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:981px;
    height:3px;
}

.u46 {
    position:absolute;
    left:23px;
    top:87px;
    width:981px;
    height:10px;
    
}

