body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:208px;
    top:95px;
    width:177px;
    height:25px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:385px;
    top:95px;
    width:233px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:618px;
    top:95px;
    width:276px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:894px;
    top:95px;
    width:209px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u8_container {
    position:absolute;
    left:208px;
    top:120px;
    width:177px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:385px;
    top:120px;
    width:233px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:618px;
    top:120px;
    width:276px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:894px;
    top:120px;
    width:209px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1021px;
    top:68px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:207px;
    top:56px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:277px;
    top:53px;
    width:148px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:435px;
    top:53px;
    width:67px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u20_container {
    position:absolute;
    left:208px;
    top:145px;
    width:177px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u22_container {
    position:absolute;
    left:385px;
    top:145px;
    width:233px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u24_container {
    position:absolute;
    left:618px;
    top:145px;
    width:276px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:894px;
    top:145px;
    width:209px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u28_container {
    position:absolute;
    left:208px;
    top:170px;
    width:177px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u30_container {
    position:absolute;
    left:385px;
    top:170px;
    width:233px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u32_container {
    position:absolute;
    left:618px;
    top:170px;
    width:276px;
    height:25px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u34_container {
    position:absolute;
    left:894px;
    top:170px;
    width:209px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u36_container {
    position:absolute;
    left:208px;
    top:195px;
    width:177px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u38_container {
    position:absolute;
    left:385px;
    top:195px;
    width:233px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u40_container {
    position:absolute;
    left:618px;
    top:195px;
    width:276px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u42_container {
    position:absolute;
    left:894px;
    top:195px;
    width:209px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u44_container {
    position:absolute;
    left:208px;
    top:220px;
    width:177px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u46_container {
    position:absolute;
    left:385px;
    top:220px;
    width:233px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u48_container {
    position:absolute;
    left:618px;
    top:220px;
    width:276px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u50_container {
    position:absolute;
    left:894px;
    top:220px;
    width:209px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u52_container {
    position:absolute;
    left:208px;
    top:245px;
    width:177px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u54_container {
    position:absolute;
    left:385px;
    top:245px;
    width:233px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u56_container {
    position:absolute;
    left:618px;
    top:245px;
    width:276px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u58_container {
    position:absolute;
    left:894px;
    top:245px;
    width:209px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u60_container {
    position:absolute;
    left:208px;
    top:270px;
    width:177px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u62_container {
    position:absolute;
    left:385px;
    top:270px;
    width:233px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u64_container {
    position:absolute;
    left:618px;
    top:270px;
    width:276px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u66_container {
    position:absolute;
    left:894px;
    top:270px;
    width:209px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u68_container {
    position:absolute;
    left:208px;
    top:295px;
    width:177px;
    height:25px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u70_container {
    position:absolute;
    left:385px;
    top:295px;
    width:233px;
    height:25px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u72_container {
    position:absolute;
    left:618px;
    top:295px;
    width:276px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u74_container {
    position:absolute;
    left:894px;
    top:295px;
    width:209px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u76_container {
    position:absolute;
    left:208px;
    top:320px;
    width:177px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u78_container {
    position:absolute;
    left:385px;
    top:320px;
    width:233px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u80_container {
    position:absolute;
    left:618px;
    top:320px;
    width:276px;
    height:25px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u82_container {
    position:absolute;
    left:894px;
    top:320px;
    width:209px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../窗口售票设置_files/u0_normal.png');
}

.u84_container {
    position:absolute;
    left:208px;
    top:345px;
    width:177px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../窗口售票设置_files/u2_normal.png');
}

.u86_container {
    position:absolute;
    left:385px;
    top:345px;
    width:233px;
    height:25px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:31px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../窗口售票设置_files/u4_normal.png');
}

.u88_container {
    position:absolute;
    left:618px;
    top:345px;
    width:276px;
    height:25px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../窗口售票设置_files/u6_normal.png');
}

.u90_container {
    position:absolute;
    left:894px;
    top:345px;
    width:209px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../系统设置_1_files/u0_normal.png');
}

.u92_container {
    position:absolute;
    left:7px;
    top:5px;
    width:1096px;
    height:35px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1102px;
    height:41px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:1092px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:20px;
    top:15px;
    width:581px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../系统设置_1_files/u3_normal.png');
}

.u95_container {
    position:absolute;
    left:7px;
    top:46px;
    width:191px;
    height:749px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:755px;
}

.u96 {
    position:absolute;
    left:2px;
    top:366px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u97_container {
    position:absolute;
    left:7px;
    top:47px;
    width:191px;
    height:26px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u98 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:46px;
    top:50px;
    width:106px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u100_container {
    position:absolute;
    left:7px;
    top:73px;
    width:191px;
    height:26px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u101 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:46px;
    top:76px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u103_container {
    position:absolute;
    left:7px;
    top:125px;
    width:191px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u105_container {
    position:absolute;
    left:7px;
    top:229px;
    width:191px;
    height:26px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u106 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:46px;
    top:232px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u108_container {
    position:absolute;
    left:7px;
    top:255px;
    width:191px;
    height:26px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u109 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:46px;
    top:258px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u111_container {
    position:absolute;
    left:7px;
    top:281px;
    width:191px;
    height:26px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u112 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:46px;
    top:284px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u114_container {
    position:absolute;
    left:7px;
    top:307px;
    width:191px;
    height:26px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u115 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:46px;
    top:310px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u117_container {
    position:absolute;
    left:7px;
    top:99px;
    width:191px;
    height:26px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u118 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:46px;
    top:102px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:48px;
    top:130px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u121_container {
    position:absolute;
    left:7px;
    top:151px;
    width:191px;
    height:26px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u122 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:46px;
    top:154px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u124_container {
    position:absolute;
    left:7px;
    top:177px;
    width:191px;
    height:26px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u125 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:46px;
    top:180px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u127_container {
    position:absolute;
    left:7px;
    top:541px;
    width:191px;
    height:26px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u128 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u129_container {
    position:absolute;
    left:7px;
    top:203px;
    width:191px;
    height:26px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u130 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:46px;
    top:544px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:46px;
    top:206px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u133_container {
    position:absolute;
    left:7px;
    top:333px;
    width:191px;
    height:26px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u134 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:46px;
    top:336px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u136_container {
    position:absolute;
    left:7px;
    top:359px;
    width:191px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:46px;
    top:362px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u139_container {
    position:absolute;
    left:7px;
    top:385px;
    width:191px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:46px;
    top:388px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u142_container {
    position:absolute;
    left:7px;
    top:411px;
    width:191px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:46px;
    top:414px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u145_container {
    position:absolute;
    left:7px;
    top:437px;
    width:191px;
    height:26px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u146 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:46px;
    top:440px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u148_container {
    position:absolute;
    left:7px;
    top:463px;
    width:191px;
    height:26px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u149 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:46px;
    top:466px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u151_container {
    position:absolute;
    left:7px;
    top:489px;
    width:191px;
    height:26px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u152 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:46px;
    top:492px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../系统设置_1_files/u5_normal.png');
}

.u154_container {
    position:absolute;
    left:7px;
    top:515px;
    width:191px;
    height:26px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u155 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:46px;
    top:518px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

