body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:205px;
    top:48px;
    width:86px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:275px;
    top:43px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:393px;
    top:49px;
    width:33px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:414px;
    top:43px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:535px;
    top:47px;
    width:86px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:605px;
    top:42px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:723px;
    top:48px;
    width:33px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:744px;
    top:42px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:201px;
    top:168px;
    width:109px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:310px;
    top:168px;
    width:64px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:374px;
    top:168px;
    width:218px;
    height:28px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:728px;
    top:168px;
    width:147px;
    height:28px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:790px;
    top:113px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:205px;
    top:82px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:311px;
    top:78px;
    width:181px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:201px;
    top:119px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:0px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:0px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:522px;
    top:84px;
    width:87px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../年票统计_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:761px;
    height:3px;
}

.u37 {
    position:absolute;
    left:201px;
    top:148px;
    width:761px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:592px;
    top:168px;
    width:72px;
    height:28px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:664px;
    top:168px;
    width:65px;
    height:28px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u42_container {
    position:absolute;
    left:201px;
    top:196px;
    width:109px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u44_container {
    position:absolute;
    left:310px;
    top:196px;
    width:64px;
    height:28px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u46_container {
    position:absolute;
    left:374px;
    top:196px;
    width:218px;
    height:28px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u48_container {
    position:absolute;
    left:728px;
    top:196px;
    width:147px;
    height:28px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u50_container {
    position:absolute;
    left:592px;
    top:196px;
    width:72px;
    height:28px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u52_container {
    position:absolute;
    left:664px;
    top:196px;
    width:65px;
    height:28px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u54_container {
    position:absolute;
    left:201px;
    top:224px;
    width:109px;
    height:28px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u56_container {
    position:absolute;
    left:310px;
    top:224px;
    width:64px;
    height:28px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u58_container {
    position:absolute;
    left:374px;
    top:224px;
    width:218px;
    height:28px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u60_container {
    position:absolute;
    left:728px;
    top:224px;
    width:147px;
    height:28px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u62_container {
    position:absolute;
    left:592px;
    top:224px;
    width:72px;
    height:28px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u64_container {
    position:absolute;
    left:664px;
    top:224px;
    width:65px;
    height:28px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u66_container {
    position:absolute;
    left:201px;
    top:252px;
    width:109px;
    height:28px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u68_container {
    position:absolute;
    left:310px;
    top:252px;
    width:64px;
    height:28px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u70_container {
    position:absolute;
    left:374px;
    top:252px;
    width:218px;
    height:28px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u72_container {
    position:absolute;
    left:728px;
    top:252px;
    width:147px;
    height:28px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u74_container {
    position:absolute;
    left:592px;
    top:252px;
    width:72px;
    height:28px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u76_container {
    position:absolute;
    left:664px;
    top:252px;
    width:65px;
    height:28px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u78_container {
    position:absolute;
    left:201px;
    top:280px;
    width:109px;
    height:28px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u80_container {
    position:absolute;
    left:310px;
    top:280px;
    width:64px;
    height:28px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u82_container {
    position:absolute;
    left:374px;
    top:280px;
    width:218px;
    height:28px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u84_container {
    position:absolute;
    left:728px;
    top:280px;
    width:147px;
    height:28px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u86_container {
    position:absolute;
    left:592px;
    top:280px;
    width:72px;
    height:28px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u88_container {
    position:absolute;
    left:664px;
    top:280px;
    width:65px;
    height:28px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u90_container {
    position:absolute;
    left:201px;
    top:308px;
    width:109px;
    height:28px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u92_container {
    position:absolute;
    left:310px;
    top:308px;
    width:64px;
    height:28px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u94_container {
    position:absolute;
    left:374px;
    top:308px;
    width:218px;
    height:28px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u96_container {
    position:absolute;
    left:728px;
    top:308px;
    width:147px;
    height:28px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u98_container {
    position:absolute;
    left:592px;
    top:308px;
    width:72px;
    height:28px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u100_container {
    position:absolute;
    left:664px;
    top:308px;
    width:65px;
    height:28px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u102_container {
    position:absolute;
    left:201px;
    top:336px;
    width:109px;
    height:28px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u104_container {
    position:absolute;
    left:310px;
    top:336px;
    width:64px;
    height:28px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u106_container {
    position:absolute;
    left:374px;
    top:336px;
    width:218px;
    height:28px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u108_container {
    position:absolute;
    left:728px;
    top:336px;
    width:147px;
    height:28px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u110_container {
    position:absolute;
    left:592px;
    top:336px;
    width:72px;
    height:28px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u112_container {
    position:absolute;
    left:664px;
    top:336px;
    width:65px;
    height:28px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u114_container {
    position:absolute;
    left:201px;
    top:364px;
    width:109px;
    height:28px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u116_container {
    position:absolute;
    left:310px;
    top:364px;
    width:64px;
    height:28px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u118_container {
    position:absolute;
    left:374px;
    top:364px;
    width:218px;
    height:28px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u120_container {
    position:absolute;
    left:728px;
    top:364px;
    width:147px;
    height:28px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u122_container {
    position:absolute;
    left:592px;
    top:364px;
    width:72px;
    height:28px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u124_container {
    position:absolute;
    left:664px;
    top:364px;
    width:65px;
    height:28px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u125 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../年票统计_files/u8_normal.png');
}

.u126_container {
    position:absolute;
    left:201px;
    top:392px;
    width:109px;
    height:28px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../年票统计_files/u10_normal.png');
}

.u128_container {
    position:absolute;
    left:310px;
    top:392px;
    width:64px;
    height:28px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:34px;
}

.u129 {
    position:absolute;
    left:2px;
    top:4px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../年票统计_files/u12_normal.png');
}

.u130_container {
    position:absolute;
    left:374px;
    top:392px;
    width:218px;
    height:28px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:34px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:214px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../年票统计_files/u14_normal.png');
}

.u132_container {
    position:absolute;
    left:728px;
    top:392px;
    width:147px;
    height:28px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:34px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../年票统计_files/u38_normal.png');
}

.u134_container {
    position:absolute;
    left:592px;
    top:392px;
    width:72px;
    height:28px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u135 {
    position:absolute;
    left:2px;
    top:4px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../年票统计_files/u40_normal.png');
}

.u136_container {
    position:absolute;
    left:664px;
    top:392px;
    width:65px;
    height:28px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:34px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:875px;
    top:168px;
    width:87px;
    height:28px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u139 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u140_container {
    position:absolute;
    left:875px;
    top:196px;
    width:87px;
    height:28px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u141 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u142_container {
    position:absolute;
    left:875px;
    top:224px;
    width:87px;
    height:28px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u143 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u144_container {
    position:absolute;
    left:875px;
    top:252px;
    width:87px;
    height:28px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u145 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u146_container {
    position:absolute;
    left:875px;
    top:280px;
    width:87px;
    height:28px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u147 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u148_container {
    position:absolute;
    left:875px;
    top:308px;
    width:87px;
    height:28px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u149 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u150_container {
    position:absolute;
    left:875px;
    top:336px;
    width:87px;
    height:28px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u151 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u152_container {
    position:absolute;
    left:875px;
    top:364px;
    width:87px;
    height:28px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u153 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../年票统计_files/u138_normal.png');
}

.u154_container {
    position:absolute;
    left:875px;
    top:392px;
    width:87px;
    height:28px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:34px;
}

.u155 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../网上预售_1_files/u0_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1096px;
    height:35px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1102px;
    height:41px;
}

.u157 {
    position:absolute;
    left:2px;
    top:10px;
    width:1092px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:13px;
    top:10px;
    width:581px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../网上预售_1_files/u3_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:41px;
    width:191px;
    height:749px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:755px;
}

.u160 {
    position:absolute;
    left:2px;
    top:366px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:42px;
    width:191px;
    height:26px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u162 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:39px;
    top:45px;
    width:106px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:68px;
    width:191px;
    height:26px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u165 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:39px;
    top:71px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:120px;
    width:191px;
    height:26px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u168 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:172px;
    width:191px;
    height:26px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u170 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:39px;
    top:175px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u172_container {
    position:absolute;
    left:0px;
    top:198px;
    width:191px;
    height:26px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u173 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:39px;
    top:201px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:224px;
    width:191px;
    height:26px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u176 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:39px;
    top:227px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:250px;
    width:191px;
    height:26px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u179 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:39px;
    top:253px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u181_container {
    position:absolute;
    left:0px;
    top:94px;
    width:191px;
    height:26px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u182 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:39px;
    top:97px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:41px;
    top:125px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:146px;
    width:191px;
    height:26px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u186 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:39px;
    top:149px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:614px;
    width:191px;
    height:26px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u189 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:39px;
    top:618px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u191_container {
    position:absolute;
    left:0px;
    top:666px;
    width:191px;
    height:26px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u192 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u193_container {
    position:absolute;
    left:0px;
    top:640px;
    width:191px;
    height:26px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u194 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:39px;
    top:670px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:39px;
    top:644px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u197_container {
    position:absolute;
    left:0px;
    top:276px;
    width:191px;
    height:26px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u198 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:39px;
    top:279px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u200_container {
    position:absolute;
    left:0px;
    top:302px;
    width:191px;
    height:26px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u201 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:39px;
    top:305px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u203_container {
    position:absolute;
    left:0px;
    top:328px;
    width:191px;
    height:26px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u204 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:39px;
    top:331px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u206_container {
    position:absolute;
    left:0px;
    top:354px;
    width:191px;
    height:26px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u207 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:39px;
    top:357px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u209_container {
    position:absolute;
    left:0px;
    top:380px;
    width:191px;
    height:26px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u210 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:39px;
    top:383px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u212_container {
    position:absolute;
    left:0px;
    top:406px;
    width:191px;
    height:26px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u213 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:39px;
    top:409px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u215_container {
    position:absolute;
    left:0px;
    top:432px;
    width:191px;
    height:26px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u216 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:39px;
    top:435px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u218_container {
    position:absolute;
    left:0px;
    top:458px;
    width:191px;
    height:26px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u219 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:39px;
    top:461px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u221_container {
    position:absolute;
    left:0px;
    top:484px;
    width:191px;
    height:26px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u222 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:39px;
    top:487px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u224_container {
    position:absolute;
    left:0px;
    top:510px;
    width:191px;
    height:26px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u225 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:39px;
    top:513px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u227_container {
    position:absolute;
    left:0px;
    top:536px;
    width:191px;
    height:26px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u228 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:39px;
    top:539px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u230_container {
    position:absolute;
    left:0px;
    top:562px;
    width:191px;
    height:26px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u231 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:39px;
    top:565px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u233_container {
    position:absolute;
    left:0px;
    top:588px;
    width:191px;
    height:26px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u234 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:39px;
    top:591px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

