body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../组长票纸发放_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:234px;
    top:352px;
    width:144px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../组长票纸发放_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:378px;
    top:352px;
    width:172px;
    height:26px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:32px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../组长票纸发放_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:550px;
    top:352px;
    width:192px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../组长票纸发放_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:744px;
    top:352px;
    width:192px;
    height:26px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:32px;
}

.u7 {
    position:absolute;
    left:2px;
    top:5px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../组长票纸发放_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:234px;
    top:378px;
    width:144px;
    height:54px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:60px;
}

.u9 {
    position:absolute;
    left:2px;
    top:19px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../组长票纸发放_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:378px;
    top:378px;
    width:172px;
    height:54px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:60px;
}

.u11 {
    position:absolute;
    left:2px;
    top:11px;
    width:168px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:550px;
    top:378px;
    width:192px;
    height:54px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u13 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:744px;
    top:378px;
    width:192px;
    height:54px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u15 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../组长票纸发放_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:234px;
    top:432px;
    width:144px;
    height:54px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:60px;
}

.u17 {
    position:absolute;
    left:2px;
    top:19px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../组长票纸发放_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:378px;
    top:432px;
    width:172px;
    height:54px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:60px;
}

.u19 {
    position:absolute;
    left:2px;
    top:11px;
    width:168px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:550px;
    top:432px;
    width:192px;
    height:54px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u21 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u22_container {
    position:absolute;
    left:744px;
    top:432px;
    width:192px;
    height:54px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u23 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../组长票纸发放_files/u8_normal.png');
}

.u24_container {
    position:absolute;
    left:234px;
    top:486px;
    width:144px;
    height:54px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:60px;
}

.u25 {
    position:absolute;
    left:2px;
    top:19px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../组长票纸发放_files/u10_normal.png');
}

.u26_container {
    position:absolute;
    left:378px;
    top:486px;
    width:172px;
    height:54px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:60px;
}

.u27 {
    position:absolute;
    left:2px;
    top:11px;
    width:168px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u28_container {
    position:absolute;
    left:550px;
    top:486px;
    width:192px;
    height:54px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u29 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u30_container {
    position:absolute;
    left:744px;
    top:486px;
    width:192px;
    height:54px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u31 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../组长票纸发放_files/u8_normal.png');
}

.u32_container {
    position:absolute;
    left:234px;
    top:540px;
    width:144px;
    height:54px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:60px;
}

.u33 {
    position:absolute;
    left:2px;
    top:19px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../组长票纸发放_files/u10_normal.png');
}

.u34_container {
    position:absolute;
    left:378px;
    top:540px;
    width:172px;
    height:54px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:60px;
}

.u35 {
    position:absolute;
    left:2px;
    top:11px;
    width:168px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u36_container {
    position:absolute;
    left:550px;
    top:540px;
    width:192px;
    height:54px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u37 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u38_container {
    position:absolute;
    left:744px;
    top:540px;
    width:192px;
    height:54px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u39 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../组长票纸发放_files/u8_normal.png');
}

.u40_container {
    position:absolute;
    left:234px;
    top:594px;
    width:144px;
    height:54px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:60px;
}

.u41 {
    position:absolute;
    left:2px;
    top:19px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../组长票纸发放_files/u10_normal.png');
}

.u42_container {
    position:absolute;
    left:378px;
    top:594px;
    width:172px;
    height:54px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:60px;
}

.u43 {
    position:absolute;
    left:2px;
    top:11px;
    width:168px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u44_container {
    position:absolute;
    left:550px;
    top:594px;
    width:192px;
    height:54px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u45 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../组长票纸发放_files/u12_normal.png');
}

.u46_container {
    position:absolute;
    left:744px;
    top:594px;
    width:192px;
    height:54px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:60px;
}

.u47 {
    position:absolute;
    left:2px;
    top:19px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:234px;
    top:53px;
    width:202px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../组长票纸发放_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:234px;
    top:82px;
    width:221px;
    height:215px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:221px;
}

.u50 {
    position:absolute;
    left:2px;
    top:100px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../组长票纸发放_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:692px;
    top:82px;
    width:244px;
    height:215px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:221px;
}

.u52 {
    position:absolute;
    left:2px;
    top:100px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:692px;
    top:53px;
    width:244px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:483px;
    top:91px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:483px;
    top:131px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:483px;
    top:221px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:483px;
    top:261px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:0px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../组长票纸发放_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:702px;
    height:3px;
}

.u74 {
    position:absolute;
    left:234px;
    top:328px;
    width:702px;
    height:10px;
    
}

.u75 {
    position:absolute;
    left:692px;
    top:303px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u76 {
    position:absolute;
    left:214px;
    top:49px;
    width:743px;
    height:280px;
    overflow:hidden;
}

#pd0u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:743px;
    height:280px;
    
}

.u77_normal {
    background-image: url('../组长票纸发放_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:10px;
    top:7px;
    width:726px;
    height:271px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:732px;
    height:277px;
}

.u78 {
    position:absolute;
    left:2px;
    top:128px;
    width:722px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:17px;
    top:100px;
    width:328px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:112px;
    top:98px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:266px;
    top:99px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:17px;
    top:141px;
    width:295px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:122px;
    top:138px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:226px;
    top:138px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:122px;
    top:176px;
    width:295px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:122px;
    top:173px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:226px;
    top:173px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:318px;
    top:176px;
    width:295px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:122px;
    top:216px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:17px;
    top:23px;
    width:719px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../后台组长模块_files/u0_normal.png');
}

.u95_container {
    position:absolute;
    left:10px;
    top:6px;
    width:1096px;
    height:35px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1102px;
    height:41px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:1092px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:23px;
    top:16px;
    width:581px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../后台组长模块_files/u3_normal.png');
}

.u98_container {
    position:absolute;
    left:10px;
    top:47px;
    width:191px;
    height:749px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:755px;
}

.u99 {
    position:absolute;
    left:2px;
    top:366px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u100_container {
    position:absolute;
    left:10px;
    top:48px;
    width:191px;
    height:26px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u101 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:49px;
    top:51px;
    width:106px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u103_container {
    position:absolute;
    left:10px;
    top:74px;
    width:191px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:49px;
    top:77px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u106_container {
    position:absolute;
    left:10px;
    top:100px;
    width:191px;
    height:26px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u107 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:49px;
    top:103px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u109_container {
    position:absolute;
    left:10px;
    top:126px;
    width:191px;
    height:26px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u110 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:49px;
    top:129px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u112_container {
    position:absolute;
    left:10px;
    top:152px;
    width:191px;
    height:26px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u113 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:49px;
    top:155px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u115_container {
    position:absolute;
    left:10px;
    top:178px;
    width:191px;
    height:26px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u116 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:49px;
    top:181px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u118_container {
    position:absolute;
    left:10px;
    top:204px;
    width:191px;
    height:26px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u119 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:49px;
    top:207px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u121_container {
    position:absolute;
    left:10px;
    top:256px;
    width:191px;
    height:26px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u122 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:49px;
    top:259px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u124_container {
    position:absolute;
    left:10px;
    top:308px;
    width:191px;
    height:26px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u125 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:49px;
    top:311px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u127_container {
    position:absolute;
    left:10px;
    top:334px;
    width:191px;
    height:26px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u128 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:49px;
    top:337px;
    width:142px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u130_container {
    position:absolute;
    left:10px;
    top:230px;
    width:191px;
    height:26px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u131 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:49px;
    top:233px;
    width:142px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u133_container {
    position:absolute;
    left:10px;
    top:360px;
    width:191px;
    height:26px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u134 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:49px;
    top:363px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u136_container {
    position:absolute;
    left:10px;
    top:386px;
    width:191px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:49px;
    top:389px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u139_container {
    position:absolute;
    left:10px;
    top:412px;
    width:191px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:49px;
    top:415px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u142_container {
    position:absolute;
    left:10px;
    top:438px;
    width:191px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:49px;
    top:441px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u145_container {
    position:absolute;
    left:10px;
    top:490px;
    width:191px;
    height:26px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u146 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u147_container {
    position:absolute;
    left:10px;
    top:464px;
    width:191px;
    height:26px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u148 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:49px;
    top:493px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../后台组长模块_files/u5_normal.png');
}

.u150_container {
    position:absolute;
    left:10px;
    top:282px;
    width:191px;
    height:26px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u151 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:49px;
    top:285px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:49px;
    top:467px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

