body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:210px;
    top:45px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:268px;
    top:42px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:1040px;
    top:74px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:383px;
    top:483px;
    width:485px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:513px;
    top:74px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:87px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:210px;
    top:76px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:288px;
    top:73px;
    width:204px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:200px;
    top:115px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:235px;
    top:115px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:391px;
    top:115px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:959px;
    top:115px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:420px;
    top:45px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:494px;
    top:42px;
    width:147px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:651px;
    top:45px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:725px;
    top:42px;
    width:147px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:564px;
    top:115px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:671px;
    top:115px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:464px;
    top:115px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:773px;
    top:115px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:881px;
    top:115px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:200px;
    top:147px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:235px;
    top:147px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:391px;
    top:147px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:959px;
    top:147px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:564px;
    top:147px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:671px;
    top:147px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:464px;
    top:147px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:773px;
    top:147px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:881px;
    top:147px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:200px;
    top:179px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:235px;
    top:179px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:391px;
    top:179px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:959px;
    top:179px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:564px;
    top:179px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:671px;
    top:179px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:464px;
    top:179px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:773px;
    top:179px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:881px;
    top:179px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:200px;
    top:211px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:235px;
    top:211px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:391px;
    top:211px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:959px;
    top:211px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:564px;
    top:211px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:671px;
    top:211px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:464px;
    top:211px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:773px;
    top:211px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:881px;
    top:211px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:200px;
    top:243px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:235px;
    top:243px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:391px;
    top:243px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:959px;
    top:243px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:564px;
    top:243px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:671px;
    top:243px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:464px;
    top:243px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:773px;
    top:243px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:881px;
    top:243px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:200px;
    top:275px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:235px;
    top:275px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:391px;
    top:275px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:959px;
    top:275px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:564px;
    top:275px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:671px;
    top:275px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:464px;
    top:275px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:773px;
    top:275px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:881px;
    top:275px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:200px;
    top:307px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:235px;
    top:307px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:391px;
    top:307px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:959px;
    top:307px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:564px;
    top:307px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:671px;
    top:307px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:464px;
    top:307px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:773px;
    top:307px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:881px;
    top:307px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:200px;
    top:339px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:235px;
    top:339px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:391px;
    top:339px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:959px;
    top:339px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:564px;
    top:339px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:671px;
    top:339px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:464px;
    top:339px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:773px;
    top:339px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:881px;
    top:339px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:200px;
    top:371px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:235px;
    top:371px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:391px;
    top:371px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:959px;
    top:371px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:564px;
    top:371px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:671px;
    top:371px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:464px;
    top:371px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:773px;
    top:371px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:881px;
    top:371px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:200px;
    top:403px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:235px;
    top:403px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:391px;
    top:403px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:959px;
    top:403px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:564px;
    top:403px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:671px;
    top:403px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:464px;
    top:403px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:773px;
    top:403px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:881px;
    top:403px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107 {
    position:absolute;
    left:200px;
    top:435px;
    width:35px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:235px;
    top:435px;
    width:157px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:391px;
    top:435px;
    width:73px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110 {
    position:absolute;
    left:959px;
    top:435px;
    width:146px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:564px;
    top:435px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112 {
    position:absolute;
    left:671px;
    top:435px;
    width:102px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:464px;
    top:435px;
    width:99px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:773px;
    top:435px;
    width:107px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:881px;
    top:435px;
    width:78px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116_line {
    background-image: url('../旅行社会员_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:0px;
    top:4px;
    width:905px;
    height:3px;
}

.u116 {
    position:absolute;
    left:200px;
    top:100px;
    width:905px;
    height:10px;
    
}

.u117_normal {
    background-image: url('../网上预售_1_files/u0_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1096px;
    height:35px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1102px;
    height:41px;
}

.u118 {
    position:absolute;
    left:2px;
    top:10px;
    width:1092px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:13px;
    top:10px;
    width:581px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../网上预售_1_files/u3_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:41px;
    width:191px;
    height:749px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:755px;
}

.u121 {
    position:absolute;
    left:2px;
    top:366px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:42px;
    width:191px;
    height:26px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u123 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:39px;
    top:45px;
    width:106px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:68px;
    width:191px;
    height:26px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u126 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:39px;
    top:71px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:120px;
    width:191px;
    height:26px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u129 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:172px;
    width:191px;
    height:26px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u131 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:39px;
    top:175px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:198px;
    width:191px;
    height:26px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u134 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:39px;
    top:201px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:224px;
    width:191px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:39px;
    top:227px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:250px;
    width:191px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:39px;
    top:253px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:94px;
    width:191px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:39px;
    top:97px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:41px;
    top:125px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u146_container {
    position:absolute;
    left:0px;
    top:146px;
    width:191px;
    height:26px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u147 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:39px;
    top:149px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:614px;
    width:191px;
    height:26px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u150 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:39px;
    top:618px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:666px;
    width:191px;
    height:26px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:640px;
    width:191px;
    height:26px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u155 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:39px;
    top:670px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:39px;
    top:644px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:276px;
    width:191px;
    height:26px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:39px;
    top:279px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:302px;
    width:191px;
    height:26px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u162 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:39px;
    top:305px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:328px;
    width:191px;
    height:26px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u165 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:39px;
    top:331px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:354px;
    width:191px;
    height:26px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u168 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:39px;
    top:357px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:380px;
    width:191px;
    height:26px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u171 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:39px;
    top:383px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:406px;
    width:191px;
    height:26px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u174 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:39px;
    top:409px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u176_container {
    position:absolute;
    left:0px;
    top:432px;
    width:191px;
    height:26px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u177 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:39px;
    top:435px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u179_container {
    position:absolute;
    left:0px;
    top:458px;
    width:191px;
    height:26px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u180 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:39px;
    top:461px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:484px;
    width:191px;
    height:26px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u183 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:39px;
    top:487px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:510px;
    width:191px;
    height:26px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u186 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:39px;
    top:513px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:536px;
    width:191px;
    height:26px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u189 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:39px;
    top:539px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u191_container {
    position:absolute;
    left:0px;
    top:562px;
    width:191px;
    height:26px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u192 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:39px;
    top:565px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../网上预售_1_files/u5_normal.png');
}

.u194_container {
    position:absolute;
    left:0px;
    top:588px;
    width:191px;
    height:26px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u195 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:39px;
    top:591px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

