body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../窗口门票删除权限确认_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:198px;
    top:86px;
    width:298px;
    height:175px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:181px;
}

.u1 {
    position:absolute;
    left:2px;
    top:80px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:239px;
    top:95px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:210px;
    top:136px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:268px;
    top:133px;
    width:171px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:210px;
    top:172px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:268px;
    top:169px;
    width:171px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:268px;
    top:207px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u8 {
    position:absolute;
    left:188px;
    top:80px;
    width:333px;
    height:204px;
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:333px;
    height:204px;
    
}

.u9_normal {
    background-image: url('../窗口门票删除权限确认_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:9px;
    top:7px;
    width:317px;
    height:189px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:323px;
    height:195px;
}

.u10 {
    position:absolute;
    left:2px;
    top:86px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:34px;
    top:61px;
    width:240px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:156px;
    top:90px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

